@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
body {
  margin: 0;
  padding: 0;
  font-family: 'georgia';
  font-size: 18px;
  color: #333;
  background-color: #F0F0F0; }

img, object, embed, video, iframe {
  max-width: 100%; }
  img.leftAlign, object.leftAlign, embed.leftAlign, video.leftAlign, iframe.leftAlign {
    width: 25%;
    float: left;
    margin-right: 5%; }
  img.rightAlign, object.rightAlign, embed.rightAlign, video.rightAlign, iframe.rightAlign {
    width: 25%;
    float: right;
    margin-left: 5%; }

h1, h2, h3, h4, h5 {
  font-family: "Arimo", "Helvetica", "Sans Serif";
  font-weight: 700; }

h1:before {
  content: "\00bb"; }

h2:before,
#blog h1:before {
  content: "\00bb  "; }

h1 strong,
h2 strong,
h3 strong {
  color: #6666b7; }

a {
  color: #6666b7;
  text-decoration: none; }

nav {
  border-top: 5px solid #cccccc;
  width: 90%;
  max-width: 800px;
  margin: 0px auto;
  position: relative; }

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 0px; }

nav ul li {
  float: left;
  margin-left: 10px; }

nav ul li a {
  display: block;
  border-top: 5px solid #cccccc;
  color: #cccccc;
  text-decoration: none;
  font-weight: bold;
  padding-top: 5px; }

nav ul li.active a,
nav ul li:hover a {
  border-top-color: #6666b7;
  color: #6666b7; }

header#header {
  background-color: #6666b7;
  padding-top: 20%;
  padding-bottom: 2%;
  color: #FFF;
  position: relative;
  border-bottom: 10px solid #6666b7; }
  header#header canvas#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1; }
  header#header h1 {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 6em;
    text-align: left;
    text-shadow: 0px 0px 5px black;
    z-index: 2000; }

div#main {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  div#main section:first-child p:first-child {
    font-size: 1.1em;
    line-height: 150%; }
  div#main section {
    width: 30%;
    margin-right: 5%;
    float: left;
    padding-bottom: 30px; }
  div#main section:nth-of-type(3n) {
    margin-right: 0%; }

p {
  line-height: 135%; }

li {
  line-height: 150%; }

ul {
  list-style-type: square;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  padding-left: 10px; }

.clearer, .break {
  width: 100%;
  height: 0;
  display: block;
  clear: both; }

.break {
  width: 70%;
  margin: 20px auto;
  border-top: 1px dashed #cccccc; }

#art img {
  border: 5px solid #cccccc; }

#footer {
  font-size: 0.8em;
  padding: 30px 0px;
  text-align: center; }

/* Blog Stuff */
#blog {
  position: relative; }

header#blog_header {
  width: 90%;
  max-width: 600px;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #cccccc; }
  header#blog_header p {
    margin-top: 0; }
  header#blog_header img {
    width: 25%;
    margin-right: 2.5%;
    max-width: 100px;
    float: left; }

ol#posts {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ol#posts .text blockquote {
    border-left: 5px solid #cccccc;
    margin-left: 0;
    padding-left: 1em; }
  ol#posts .older {
    float: right; }
  ol#posts .post {
    width: 90%;
    max-width: 600px;
    margin: 0px auto 50px;
    border-bottom: 1px dashed #cccccc; }
    ol#posts .post p.meta {
      font-size: 0.8em; }
    ol#posts .post.video {
      max-width: none; }
      ol#posts .post.video embed, ol#posts .post.video object, ol#posts .post.video video, ol#posts .post.video iframe {
        margin: 0px auto;
        display: block;
        max-width: 100%; }
    ol#posts .post.photo {
      max-width: none; }
      ol#posts .post.photo img {
        display: block;
        margin: 0px auto; }
    ol#posts .post.quote {
      max-width: 1000px; }
      ol#posts .post.quote blockquote {
        font-size: 1.2em;
        line-height: 150%;
        color: #666666; }
    ol#posts .post .text {
      width: 90%;
      max-width: 600px;
      margin: 0px auto; }

ul.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em; }
  ul.tags li {
    display: inline-block;
    margin-bottom: 10px; }
    ul.tags li a {
      display: block;
      padding: 5px;
      background-color: #cccccc;
      color: white; }
    ul.tags li a:hover {
      background-color: #6666b7; }

ul#likes {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

li.like_post {
  /* Should match the width specified in the Likes tag */
  width: 200px;
  padding: 0px;
  float: left;
  border-bottom: 1px solid #cccccc; }

li.like_post img {
  max-width: 100%; }

li.like_post blockquote {
  margin: 0;
  padding: 0 0 0 10px;
  border-left: 1px solid #eeeeee; }

li.like_post ol,
li.like_post ul {
  margin: 0 0 0 15px;
  padding: 0; }

li.like_post .like_link a {
  font-weight: bold; }

li.like_post .like_title {
  font-weight: bold; }

li.like_post .like_caption {
  display: none; }

li.like_post .post_info_bottom {
  margin: 10px 0 0 0;
  display: block !important; }

@media all and (max-width: 768px) {
  .break {
    border-top: 0;
    margin: 0px;
    width: 100%; }

  div#main {
    width: auto;
    margin-left: 20px;
    margin-right: 20px; }
    div#main section {
      width: auto;
      margin: 0;
      float: none;
      border-bottom: 1px solid #cccccc; }

  header#header h1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3em; } }
@media all and (max-width: 480px) {
  body {
    font-size: 16px; } }
