@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
body {
  margin: 0;
  padding: 0;
  font-family: 'georgia';
  font-size: 18px;
  color: #333;
  background-color: #F0F0F0; }

img {
  max-width: 100%; }
  img.leftAlign {
    width: 25%;
    float: left;
    margin-right: 5%; }
  img.rightAlign {
    width: 25%;
    float: right;
    margin-left: 5%; }

h1, h2, h3, h4, h5 {
  font-family: "Arimo", "Helvetica", "Sans Serif";
  font-weight: 700; }

h1:before {
  content: "\00bb"; }

h2:before {
  content: "\00bb  "; }

a {
  color: #6666b7;
  text-decoration: none; }

header#header {
  background-color: #6666b7;
  padding-top: 20%;
  padding-bottom: 2%;
  color: #FFF;
  position: relative;
  border-bottom: 10px solid #6666b7; }
  header#header canvas#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1; }
  header#header h1 {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 6em;
    text-align: left;
    text-shadow: 0px 0px 5px black;
    z-index: 2000; }

div#main {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  div#main section:first-child p:first-child {
    font-size: 1.1em;
    line-height: 150%; }
  div#main section {
    width: 30%;
    margin-right: 5%;
    float: left;
    padding-bottom: 30px; }
  div#main section:nth-of-type(3n) {
    margin-right: 0%; }

p {
  line-height: 135%; }

li {
  line-height: 150%; }

ul {
  list-style-type: square;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  padding-left: 10px; }

.clearer, .break {
  width: 100%;
  height: 0;
  display: block;
  clear: both; }

.break {
  width: 70%;
  margin: 20px auto;
  border-top: 1px dashed #cccccc; }

#art img {
  border: 5px solid #cccccc; }

#footer {
  font-size: 0.8em;
  padding: 30px 0px;
  text-align: center; }

/* Blog Stuff */
#blog .post {
  width: 90%;
  max-width: 600px;
  margin: 0px auto; }
  #blog .post.video {
    max-width: 1000px; }
  #blog .post.photo {
    max-width: 1000px; }

ul#likes {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

li.like_post {
  /* Should match the width specified in the Likes tag */
  width: 200px;
  padding: 0px;
  float: left;
  border-bottom: 1px solid #cccccc; }

li.like_post img {
  max-width: 100%; }

li.like_post blockquote {
  margin: 0;
  padding: 0 0 0 10px;
  border-left: 1px solid #eeeeee; }

li.like_post ol,
li.like_post ul {
  margin: 0 0 0 15px;
  padding: 0; }

li.like_post .like_link a {
  font-weight: bold; }

li.like_post .like_title {
  font-weight: bold; }

li.like_post .like_caption {
  display: none; }

li.like_post .post_info_bottom {
  margin: 10px 0 0 0;
  display: block !important; }

@media all and (max-width: 768px) {
  .break {
    border-top: 0;
    margin: 0px;
    width: 100%; }

  div#main {
    width: auto;
    margin-left: 20px;
    margin-right: 20px; }
    div#main section {
      width: auto;
      margin: 0;
      float: none;
      border-bottom: 1px solid #cccccc; }

  header#header h1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3em; } }
@media all and (max-width: 480px) {
  body {
    font-size: 16px; } }
